* {
  padding: 0;
  margin: 0;
}
body {
  background: white;
}
.content {
  background-color: grey;
  width: 217.5px;
  margin: auto;
  display: grid;
  height: 425px;
}
.content{
    margin-top: 30px;
}
.textInserted {
  margin: 2px;
  width: 208.5px;
  height: 40px;
  font-size: 15px;
  box-shadow: 0 0 5px rgb(83, 56, 56);
}


.button {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: hsl(180, 40, 50);
  font-size: 20px;
  box-shadow: 0 0 5px grey;
  margin: 1px;
}
.btn {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: hsl(180, 40, 50);
  font-size: 17px;
  box-shadow: 0 0 5px grey;
  margin: 1px;
}
.button:hover {
  transform: scale(1.1);
  color: grey;
  border-radius: 50%;
  background: hsl(180, 42%, 95%);
}
.btn:hover {
  color: hsl(241, 100%, 50%);
  background: hsl(180, 42%, 95%);
  color: grey;
}
#calculator_heading {
  text-transform: uppercase;
  font-family: Arial;
  color: white;
  align-items: left;
  position: relative;
  text-align: center;
  /* animation-name: moveCalc; */
  /* animation-duration: 3.5s; */
  /* animation-iteration-count: infinite; */
  /* animation-timing-function: linear;  */
  padding: 20px;
}
#lasth5 {
  text-transform: lowercase;
  font-family: Arial;
  color: white;
  align-items: left;
  position: relative;
  text-align: center;
}
@keyframes moveCalc {
  0% {
    right: 5px;
    font-family: Helvetica;
  }
  100% {
    right: -275px;
    font-family: rochester, serif;
  }
}
